@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-accent: #E8F438; 
}

.bg-yellow {
  background-color: var(--color-accent);
}

h1,h2,h3,h4 {
  font-family: "Bebas Neue", serif;
}

* {
  font-family: "Roboto", serif;
}

nav {
  a {
    &.nav-link {
      background-color: white;
      font-family: "Bebas Neue", serif;
      padding: 6px 32px!important;
      border: 1px solid black;
      border-radius: 24px;  
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      -ms-border-radius: 24px;
      -o-border-radius: 24px;
    }
    &.nav-link:hover {
      background-color: var(--color-accent);
    }

    &.nav-resume {
      background-color: #E8F438;
      color: black;
    }
    &.nav-resume:hover {
      background-color: black;
      color: white;
    }
  }
}

$font-sizes: (12, 14, 16, 18, 20, 22, 24, 32, 48, 64, 72, 80, 96);
@each $size in $font-sizes {
  .fs-#{$size} {
      font-size: #{$size}px!important;
  }
}

section, footer {
  padding-top: 80px;
  padding-bottom: 80px;

  div#accent-hero {
    h3::before {
      content: "";
      position: absolute;
      bottom: 2px;
      right: -10px;
      z-index: -1;
      width: 100%;
      height: 25px;
      border-radius: 24px;
      background-color: var(--color-accent);
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      -ms-border-radius: 24px;
      -o-border-radius: 24px;
    }
  }

  .img-about {
    width: 100%;
    height: 370px;
    border: 5px solid black;
    border-radius: 24px;
  }
  .img-about::before {
    content: "";
    position: absolute;
    left: -12px;
    bottom: -12px;
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 24px;
  }

  .card-skills {
    background-color: var(--color-accent);
    width: 100%;
    height: 430px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 24px;

    .selected-skill {
      width: fit-content;
      border: 2px solid black;
      padding: 6px 8px;
    }
  }
  .card-skills:hover {
    background-color: #f4db38;
  }
  .card-skills:hover::before {
    position: absolute;
    z-index: -2;
  }
  .card-skills::before {
    content: "";
    position: absolute;
    left: -12px;
    bottom: -12px;
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 24px;
  }

  .card-project {
    overflow: auto;
    background-color: var(--color-accent);
    width: 100%;
    height: 250px;
    border: 5px solid black;
    border-radius: 24px;
  }
  .card-project:hover #name-card {
    background-color: black;
    color: var(--color-accent);
  }
  .card-project::before {
    content: "";
    position: absolute;
    left: -12px;
    bottom: -12px;
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 24px;
  }

  .card-contact {
    background-color: var(--color-accent);
    width: 100%;
    height: fit-content;
    padding: 20px;
    border: 5px solid black;
    border-radius: 24px;

    .selected-skill {
      width: fit-content;
      border: 2px solid black;
      padding: 6px 8px;
    }
  }
  .card-contact::before {
    content: "";
    position: absolute;
    left: -12px;
    bottom: -12px;
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 24px;
  }
}

.w-fit-content {
  width: fit-content;
}

@media only screen and (max-width: 768px) {
  .card-skills {
    width: 320px!important;
  }
}